#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#if( $entity.hasCompositePrimaryKey() )
#set( $entityKeyType = ${entity.name} + "EntityKey" )
#else
#set( $entityKeyType = ${entity.keyAttributes[0].formattedType(0)} )
#end
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import br.com.socialpro.service.impl.AbstractCrudService;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${ENTITY_PKG}.model.${entity.name};
import ${ENTITY_PKG}.service.${entity.name}Service;
import ${ENTITY_PKG}.repository.${entity.name}Repository;
#if ( $entity.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${entityKeyType};
#end

@Service
public class ${entity.name}ServiceImpl 
		extends AbstractCrudService<${entity.name}, ${entityKeyType}, ${entity.name}Repository>
        implements
        ${entity.name}Service {

	@Autowired
    private ${entity.name}Repository ${uncapitalizedEntityName}Repository;

    @Override
    public ${entity.name}Repository getRepository() {
        return ${uncapitalizedEntityName}Repository;
    }

}