
#if( $entity.hasCompositePrimaryKey() )
#set( $entityKeyType = ${entity.name} + "EntityKey" )
#else
#set( $entityKeyType = ${entity.keyAttributes[0].formattedType(0)} )
#end
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import br.com.socialpro.service.CrudService;
import ${ENTITY_PKG}.model.${entity.name};
#if ( $entity.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.jpa.${entityKeyType};
#end

/**
 * Repository : ${entity.name}.
 */
public interface ${entity.name}Service extends CrudService<${entity.name}, ${entityKeyType}> {

}